## Midterm Exam Python
by Nils WÃ¼stefeld

In [3]:
import numpy as np
import pandas as pd
import zipfile
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('csv_sample.csv', sep = ',', on_bad_lines= 'skip')

In [8]:
df.head()

      Name  Age Occupation
0    Alice   30   Engineer
1      Bob   25   Designer
2  Charlie   35    Teacher